/* COLORS */
/* Palette */
$black: 		#1A1A1A;
$gray: 		    #666666;
$white: 	    #F2F2F2;
$light-gray:    #CCCCCC;
$blue: 	        #4141B0;
$red: 	        #E82020;

/* FONTS */
/* Font families */
$fonts-url:           	'https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700';
$default-font-family:	'Lato', sans-serif;
$headings-font-family: 	'Roboto', sans-serif;

/* Font weights */
$normal-fw: 400;
$bold-fw:   700;
$light-fw:	300;

/* VERTICAL RHYTHM */
$bfs:		1rem;
$spacing: 	0.75;
$scale:   	1.25;
$blh:     	$bfs * $spacing;

/* LAYOUT */
$text-max-width: $bfs * 33;

/* BREAK POINTS */
$bp-1: 500px;
$bp-2: 750px;
$bp-3: 1000px;
$bp-4: 1500px;
$bp-5: 2000px;